@charset "UTF-8";

body{
    background-color: #9AEBA3;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-image: linear-gradient(to bottom, #45C4B0, #13678A);
    height: 250px;
    margin: 0px;
}

nav {
    padding: 50px;
    background-image: linear-gradient(to bottom, #45C4B0, #13678A);
    height: 250px;
    margin: 0;
    position: relative; /* Defina o nav como relativo para ancorar elementos absolutos dentro dele */
    margin-bottom: 0px;
}

nav > a{
    color: white;
    text-decoration: none;
    position: relative;
    bottom: -190px;
    margin-right: 50px;
}

#Curiosidade > a {
    color: white;
    text-decoration: none;
    position: relative;
    bottom: -106px;
    margin-right: 50px;
}

nav > a:hover {
    text-decoration: underline;
}

#titulo{
    text-align: center;
    font-size: 40px;
    padding: 0px;
    margin-bottom: 0px;
    color: #fff;
}

#pCuriosidades1{
    text-align: center;
    color: white;
    margin-top: 50px;
}

#mainCuriosidade{
    background-color: white;
    margin: auto;
    width: 800px;
    position: relative;
    top: -20px;
}

p{
    text-align: justify;
}

article{
    padding-left: 10px;
    padding-right: 10px;
}

@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf) format(idroid);
    font-weight: normal;
    font-style: normal;
}

h2{
    color: #012030;
    font-family: 'idroid';
}

h3{
    color: #012030;
    background-color: #a1a2a3;
    font-family: 'idroid';
}

#imgC{
    transform: translate(80%, 0%);
}

iframe{
    transform: translate(20%, 0%);
}